# Ignore all contents in the file folder
file/*

# Keep the file folder itself but ignore all contents
# This ensures the folder structure is preserved

logs/*

bak/
bak2/

node_modules/

docs/

.trash/*